input[type="button"] {
    all: unset; /* Resets all default styles */
    display: inline-block; /* Ensures the button remains inline */
    cursor: pointer; /* Adds a pointer cursor on hover */
}


.game {
    display: flex;
    flex-direction: row;
    
    
    border: 1px solid black;
}

.game__left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    
    background-color: #e3dfca;
    border: 1px solid black;
}
.info-block {
    text-align: center;
}

.game__right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    
    background-color: #e3dfca;
    border: 1px solid black;
}

.bottom {
    border: 1px solid black;
}

.movement-buttons {
    display: flex;
    flex-direction: column;
}

.players, .player {
    display: flex;
    flex-direction: column;
    border: 1px solid #ba1547;
}

.player__name {
    display: block;
}
.player__pieces {
    display: flex;
    flex-flow: row wrap;
}




.game__board {
    background-color: #f1dd2c;
    font-size: 16px;
    
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
}

.cell, .cell--piece, .cell--grid {
    color: #ba1547;
    border: 1px solid #ba1547;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;    
    
    height: 3rem;
    width: 3rem;
}

.cell--piece {
    border: 1px solid #ba1547;
    background-color: #f1dd2c;
}
.cell--piece:hover {
    background-color: #cac41e;
    cursor: pointer;
}

.cell--grid{
    border: 1px solid #ba1547;
    background-color: #d8a930;
}

.selected {
    background-color: #79ca6f;
}

.grid-button {
    height: 3rem;
    width: 3rem;
}
.my-radio:hover {
    cursor: pointer;
}
.btn-warning{
    border: 1px solid #ba1547;
    color: #ba1547;
}
.btn-warning:hover{
    color: #ba1547;
}


