@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Tic Tac Two</h1>
    <p>To create a new game, choose Configurations</p>
    <p>To resume from a previous save, choose Previous saves</p>
</div>